// Default Shortcode Colors
$color__background-default: #fafafa;
$color__border-default: #e5e5e5;
$color__content-default: #454545;

// Black Shortcode Colors
$color__background-black: #383838;
$color__border-black: #282828;
$color__content-black: #ffffff;

// Blue Shortcode Colors
$color__background-blue: #247fa8;
$color__border-blue: #1e6a8c;
$color__content-blue: #ffffff;

// Green Shortcode Colors
$color__background-green: #76bd83;
$color__border-green: #4aaa5c;
$color__content-green: #ffffff;

// Orange Shortcode Colors
$color__background-orange: #e67e22;
$color__border-orange: #cd6e1a;
$color__content-orange: #ffffff;

// Pink Shortocode Colors
$color__background-pink: #d85677;
$color__border-pink: #d53961;
$color__content-pink: #fafafa;

// Purple Shortocode Colors
$color__background-purple: #8e44ad;
$color__border-purple: #6d2e87;
$color__content-purple: #fafafa;

// Red Shortcode Colors
$color__background-red: #d14949;
$color__border-red: #bf2020;
$color__content-red: #ffffff;

// Yellow Shortcode Colors
$color__background-yellow: #f4d03f;
$color__border-yellow: #d5b121;
$color__content-yellow: #282828;
